#root {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
}

.input_central {
  margin: auto;
  padding: 50px 20px;
  background-color: #1F7A8C;
  color: #E1E5F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* max-width: 450px; */
}

.input_central h2{
  margin: 0;
  margin-bottom: 10px;
  font-size: 34px;
}

#contenedor_input{
  width: 100%;
  height: 35px;
  max-width: 500px;
  display: flex;

  padding: 10px 20px;
  background: #fff;
  border: 2px solid #BFDBF7;
  border-radius: 40px;
}

#contenedor_input button{
  height: auto;
}

#input_busqueda {
  width: 100%;
  background-color: transparent;
  border: 0;

}

#btn_buscar {
  height: 30px;
  width: 130px;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 40px;
  border: 0;
  background-color: #BFDBF7;
  cursor: pointer;
}

#btn_buscar:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#carrusel_restaurantes{
  margin-top: 50px;
}