.card_restaurante{
    width: 100%;
    max-width: 80%;
    min-width: 300px;
    background-color: #E1E5F2;
    border-radius: 20px;
    /* border: 1px solid #022B3A; */
    box-shadow: 4px 4px 2px #022B3A6d;
}

#titulo_card{
    margin-top: 10px;
    
}

#titulo_card h3{
    margin-bottom: 10px;
    font-size: 25px;
}

#estellas_card{
    display: flex;
    justify-content: center;
    gap: 8px;
}

#lista_estellas{
    color: yellow;
    text-shadow: 1px 1px 2px #022B3A;
}

#location_card{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#texto_location{
    font-size: 12px;
}

#analysis_card{
    width: 90%;
    text-overflow: ellipsis;
    margin: auto;
    margin-top: 5px;
}

.imgs_card{
    padding: 10px;
}